<div class = "container-fluid">
	<div class = "row">
		<div class = "col-lg-2 col-xs-2 nomargins">
			<div id = "cardInfo">


			</div>
		</div>
		<div class = "col-lg-10 col-xs-10 nomargins">
			<div class = "gameZone">
				<div class = "container-fluid">
					<div class = "row">
						<div class = "col-lg-9 col-xs-9 nomargins">
							<div class = "manaZone">
							</div>				
			
							<div class = "shieldZone">
							</div>
			
							<div class = "battleZone">
							</div>
						</div>
						<div class = "col-lg-3 col-xs-3 nomargins">
							<div class = "container-fluid">
								<div class = "row">
									<div class = "deck col-lg-6 col-xs-6">
									</div>

									<div class = "grave col-lg-6 col-xs-6">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		
			<div class = "gameZone">
				<div class = "container-fluid">
					<div class = "row">
						<div class = "col-lg-9 nomargins">
							<div class = "battleZone">
							</div>
			
							<div class = "shieldZone">
							</div>
			
							<div class = "manaZone">
							</div>
						</div>
						<div class = "col-lg-3 col-xs-3 nomargins">
							<div class = "container-fluid">
								<div class = "row">
									<div class = "deck col-lg-6 col-xs-6">
									</div>

									<div class = "grave col-lg-6 col-xs-6">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>